  @import '../global-styles/mixins.scss';

  // Start Content__header
  #content__header{
    font-size: 16px;

    // set font-size tp 14px at small screen.
    @include mobile(){
      font-size: 15px;
    }

    // padding top for header to save navbar position at small screens as it fixed.
    @include mobile(){
      padding-top: 51px !important;
    }
    box-shadow: 0px 15px 20px -5px rgba(0,0,0,.08);
    ul{
      
      li.content__header--item{
        padding: 0em 1em;
        justify-content: flex-end;
        color: #999;
        text-align: right;
        
        &:not(:first-child){
          border-left: 1px solid #CCC;

          @include mobile(){
            border: none;
          }
        }
        .item--title{
          color: #555;
        }
      }
      
      .grid-icons__box{
        i.active{
          color: #555;
        }
        
        i{
          cursor: pointer;
          margin-left: .3em;
        }
      }
      
      .user{
        
        .user--image{
          width: 50px;
          height: 50px;
          background: #ccc;
          border-radius: 9px;
        }
      }
    }
    
    .item--desc{
      font-size: .9em;
      color: #777 !important;
    }
  }
  // End Content__header    