  // Start Content__header
  #content__header{
    box-shadow: 0px 15px 20px -5px rgba(0,0,0,.08);
    ul{
      
      li.content__header--item{
        padding: 0rem 1rem;
        justify-content: flex-end;
        color: #999;
        text-align: right;
        
        &:not(:first-child){
          border-left: 1px solid #555;
        }
        .item--title{
          color: #555;
        }
      }
      
      .grid-icons__box{
        i.active{
          color: #555;
        }
        
        i{
          cursor: pointer;
          margin-left: .3rem;
        }
      }
      
      .user{
        
        .user--image{
          width: 50px;
          height: 50px;
          background: #444;
          border-radius: 9px;
        }
      }
    }
    
    .item--desc{
      font-size: .9rem;
      color: #777 !important;
    }
  }
  // End Content__header    