@import '../global-styles/mixins.scss';

// Start Bootstrap Overriding.
  @include mobile(){ // max width: 880px
    
    .collapse:not(.show) {
      display: block;
      left: -100%;
      position: fixed;
      width: 65%;
      height:100vh;
      box-shadow: 25px 30px 58px -21px rgba(0,0,0,.2);
    }

    // bootstrap toggler btn.
    .navbar-toggler{
      border: none;
      cursor: unset !important;
      outline: none;
      
      &:focus,&:active{outline:none;}

      .navbar-toggler-icon{
        cursor: pointer;
      }
    }
  }
  // End Bootstrap Overriding.
  
  // Navbar Component

  // Start Toggle navbar at small screens.
  @include mobile(){
    #c__navbar-toggler:checked + #my-profile__navbar{
      top: 3.8rem;
      left: 0% !important;
      font-size: 2rem;
      font-weight: lighter;
      z-index: 9999;
      background: white;

    }

    #my-profile__navbar { 
      ul{  
        li{
          padding: .5rem 2rem;
        }
      }

      button{
        padding: .5rem 2rem;
      }
    }
  }
  // End Toggle navbar at small screens.


  nav{
    // make navbar fixed at small screnns.
    @include mobile() {
      position: fixed;
      z-index: 9999;
      background: white;
      width: 100%;
    }

    // navbar toggler button.
    .navbar-toggler{
      background: #f3f3f3;
      border-radius: 10px;
    }
    // triple lines menu icon.
    .navbar-toggler-icon{
      margin: 0;
      padding: 1.2rem 0rem;
      background-size: 140%;
    }

    #my-profile__navbar{
    .navbar-nav {
      .nav-item {
        
        .nav-link{
          color: black;
          cursor: pointer;
        }
      }
    }
      .my-profile__button{
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
  }
  // End Navbar Component