<!-- Nav Component -->
<div class="container px-0">

  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" style="
      /* position: fixed;
      left: 1rem;
      top: 1rem; */
    ">
      <label class="navbar-toggler-icon" for="c__navbar-toggler"></label>
    </button>

    <input type="checkbox" id="c__navbar-toggler" style="display: none;">
    <div class="collapse navbar-collapse" id="my-profile__navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Videos</a>
        </li>
      </ul>
      <button class="my-profile__button">My Profile</button>
    </div>
  </nav>

</div>
<!-- End Nav Component -->