.spinner-box{
    position: absolute;
    z-index: 9999;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa.fa-spinner{
    animation: load .5s reverse infinite linear;
    font-size: 2rem;
    position: relative;
  }
  
  @keyframes load {
    from {transform: rotate(360deg)}
    to {transform: rotate(0deg) }
  }